p {
  font-size: 1.5rem;
}

.weatherContainer {
  padding: 2rem;
  padding-top: 0;
  /* left */
  /* right */
}

.weatherContainer .left .currentRow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weatherContainer .left .currentRow .temperature {
  text-align: right;
}

.weatherContainer .left .currentRow .temperature .temp {
  font-size: 7rem;
}

.weatherContainer .left .currentRow .city {
  text-align: center;
}

.weatherContainer .left .currentRow .city h2 {
  font-size: 4rem;
}

.weatherContainer .left .currentRow .city p {
  font-size: 2rem;
  margin-bottom: 0;
}

.weatherContainer .left .currentRow .city .sun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weatherContainer .left .currentRow .city .sun p {
  font-size: 1.5rem;
  margin: 1rem;
}

.weatherContainer .left .currentRow .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weatherContainer .left .hourlyRow {
  margin-top: 3rem;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner {
  overflow-x: scroll;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner::-webkit-scrollbar {
  height: 10px;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #0e2532d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner::-webkit-scrollbar-thumb {
  background-color: #d66c05;
  border-radius: 10px;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner .carousel-item .hourlyPanel {
  margin: 0 0.5rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.482);
  text-align: center;
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner .carousel-item .hourlyPanel img {
  background-color: #03172cc0;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  padding: 1rem;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner .carousel-item .hourlyPanel time {
  font-size: 1.5rem;
  display: block;
}

.weatherContainer .left .hourlyRow .carousel .carousel-inner .carousel-item .hourlyPanel .date {
  background-color: #e2580d92;
  border-radius: 5vw;
}

.weatherContainer .left .hourlyRow .carousel .carousel-control-prev .sr-only,
.weatherContainer .left .hourlyRow .carousel .carousel-control-next .sr-only {
  display: none;
}

.weatherContainer .right {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #0e2532d6;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.weatherContainer .right .detailRow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1rem;
  padding-right: 2rem;
}

.weatherContainer .right .detailRow h3 {
  border-top: 0.1rem #e7cfbf solid;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.weatherContainer .right .detailRow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 1rem;
}

.weatherContainer .right .detailRow a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background: #d66c05;
}

.weatherContainer .right .detailRow a:hover {
  color: #d66c05;
  border: 0.1rem #e7cfbf solid;
  background-color: #0e2532d6;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=Weather.css.map */