@import "../../color";

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  .title {
    flex-direction: row;
    align-items: center;
    a {
      font-size: 1.5rem;
      margin-left: 1rem;
      text-decoration: none;
      color: $white;
      &:hover {
        color: $color6;
      }
    }
    .unit {
      margin-left: 1rem;
      .unitBtn {
        border: 0.1rem solid $color6;
        background-color: transparent;
        &:active {
          background-color: $color6;
        }
      }
    }
  }
}
