$color1: #070607;
$color2: #5c1f0c;
$color3: #62483b;
$color4: #9e2805;
$color5: #c83803;
$color6: #d66c05;
$color7: #e7cfbf;

$white: white;
$navy: #0e2532;

$whiteTr: rgba(255, 255, 255, 0.482);
$navyTr: #0e2532d6;
$color5Tr: #c83803d5;
$color6Tr: #e2580d92;
$blueTr: #03172cc0;
