$color1: #070607;
$color2: #5c1f0c;
$color3: #62483b;
$color4: #9e2805;
$color5: #c83803;
$color6: #d66c05;
$color7: #e7cfbf;

$white: white;
$navy: #0e2532;

$whiteTr: rgba(255, 255, 255, 0.482);
$navyTr: #0e2532be;
$color4Tr: #1777aac5;
$color5Tr: #c82a03c1;
$color6Tr: #e2580d92;
$blueTr: #03172cc0;

@keyframes fadeIn {
  from {
    top: -10%;
  }
  to {
    top: 0%;
  }
}
