$color1: #070607;
$color2: #5c1f0c;
$color3: #62483b;
$color4: #9e2805;
$color5: #c83803;
$color6: #e2560d;
$color7: #e7cfbf;

$white: white;
$navy: #1a3552;

$whiteTr: rgba(255, 255, 255, 0.393);
$navyTr: #1a35528d;

